body

.bandera {
   width: 500px; 
   height: 300px;
   margin: 20px;
   float: left;
   border:1px solid #000;
   position: relative
}

.Esp1{
    background-color: red;
    height: 25%;
}
.Esp2{
    background-color: yellow;
    height: 50%;
}
.Esp3{
    background-color: red;
    height: 25%;
}

.Din1{
    background-color: red;
    height: 45%;
}

.Din2{
    background-color: white;
    width: 6%;
    position: absolute;
    left: 20%;
    height: 100%;
    top: 0;
}

.Din3{
    background-color: white;
    height: 10%;
}

.Din4{
    background-color: red;
    height: 45%;
}


.Em1{
    background-color: red;
    width: 33.3%;
    position: absolute;
    height: 100%;
}

.Em2{
    background-color: green;
    height: 33.3%;
}

.Em3{
    background-color: white;
    height: 33.3%;
}

.Em4{
    background-color: black;
    height: 33.3%;
}

.Ja1{
    background-color: white;
    height: 33.3%;
}

.Ja2 {
  background-color: red;
  height: 33.3%;
  border-radius: 100%;
  width: 20%;
  margin: auto;
}

.Ja3 {
    background-color: white;
    height: 33.3%;
}
